
/* Your CSS Code here. */

.container{
	background-color: green;
	width: 100vw;
	height: 100vh;
	display:flex;
	justify-content:center;
	align-items: center;
}

.item-1{
	width:50px;
	height: 50px;
	background-color: red;
}